
body {
    margin: 2em;
    padding: 2em;
    background-color: rgb(55, 6, 0);
    color: rgb(255, 255, 255);
}


button {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header img {
    height: 10%;
    width: 10%;
    margin: 2em;
}


nav ul {
    display: flex;
    justify-content: center;
    padding: 4em;
}

nav li {
    padding: 1em;
}

ul {
    list-style-type: none;
}

p {
    text-align: center;
    display: flex; 
    flex-direction: column;
    font-size: 1em;
}

h1 {
    text-align: center;
    display: flex; 
    flex-direction: column;
    column-gap: 1em;
    font-size: 2em; 
}

h2 {
    text-align: center;
}

.hotnachocrime {
    font-size: 4em; 
}

h3 {
    text-align: center;
}


ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0; 
    overflow: hidden;
}

.pictures {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    padding: 3em;
}

.pics {
    display: flex;
    justify-content: center;
    align-content: center;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

.episodes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    padding: 3em;
}

.episode {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
}

